package app

import (
	"github.com/google/wire"
	"{{.GoMod}}{{.RelativePath}}/app/commands"
	"{{.GoMod}}{{.RelativePath}}/app/queries"
)

var ProviderAppSet = wire.NewSet(commands.NewService, queries.NewService)
