package api

import (
	"github.com/google/wire"
	"{{.ModName}}/api/rpc"
	"{{.ModName}}/app"
	"{{.ModName}}/proto"
	"{{.ModName}}/api/http"
)

var (
	Provider = wire.NewSet(rpc.NewHandler,http.NewController, wire.Bind(new(kratos.KratosServer), new(*rpc.Handler)),
		app.AppProvider,
	)
)
