package schema

import (
	"github.com/facebookincubator/ent"
	"github.com/facebookincubator/ent/schema/field"
)

// User holds the schema definition for the User entity.
type Demo struct {
	ent.Schema
}

// Fields of the User.
func (Demo) Fields() []ent.Field {
	return []ent.Field{
		field.Int32("age").
			Positive(),
		field.String("name").
			Default("unknown"),
	}
}

// Edges of the User.
func (Demo) Edges() []ent.Edge {
	return nil
}
