package app

import (
	"github.com/google/wire"
	"{{.ModName}}/app/executor/cmd"
	"{{.ModName}}/app/executor/query"
	"{{.ModName}}/infra/repo"
)

var (
	AppProvider = wire.NewSet(cmd.NewAppCmd, query.NewAppQuery, repo.Provider)
)
