package api

import (
	"github.com/google/wire"
	"{{.ModName}}/api/rpc"
	"{{.ModName}}/app"
	stub "{{.ModName}}/genproto/{{.ModName}}/v1"
)

var (
	Provider = wire.NewSet(rpc.NewHandler, wire.Bind(new(stub.{{.SvcName}}ServiceServer), new(*rpc.Handler)),
		app.AppProvider,
	)
)
