package domain

import (
	"github.com/google/wire"
	"{{.GoMod}}{{.RelativePath}}/domain/factory"
	"{{.GoMod}}{{.RelativePath}}/domain/service"
)

var ProviderDomainSet = wire.NewSet(service.NewService, factory.NewObjectBuilder)
