package cmd

import (
	"context"
	"github.com/bilibili/kratos/pkg/log"
	"{{.ModName}}/domain/aggregate/demo"
	"google.golang.org/grpc/codes"
	"google.golang.org/grpc/status"
)

type AppCmd struct {
	demoRepo demo.Repo
}

func NewAppCmd(demoRepo demo.Repo) *AppCmd {
	return &AppCmd{
		demoRepo: demoRepo,
	}
}
