package handler

import (
	"{{.Site}}/{{.Group}}/{{.Project}}/application"
	stub "{{.Site}}/{{.Group}}/{{.Project}}/genproto/{{.Site}}/{{.Group}}/{{.Project}}/v1"
)

type Handler struct {
	stub.Unimplemented{{ CamelCase .Project }}Server
	appSvc *application.Service
}

func NewHandler( appSvc *application.Service) *Handler {
	return &Handler{
		appSvc:appSvc,
	}
}
