# {{.Name}}

尝试使用kratos，采用DDD 项目风格

# 本地启动命令:
./demo -conf ../configs/ -appid {{.Name}} -discovery.nodes 127.0.0.1:7171

# proto 生成工具
[prototool](https://github.com/mfslog/prototool)

# 接口测试

[bloomrpc](https://github.com/uw-labs/bloomrpc)

# 参考
[dotnet-architecture / eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers)

[alibaba/COLA](https://github.com/alibaba/COLA)